@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

ul {
  list-style: none;
}

.main-container {
  flex-grow: 1;
}

.header {
  width: 1200px;
  height: 64px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  position: absolute;
  white-space: nowrap;
  text-align: center;
  padding: 20px;
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 0px;
}

.navigation-logo {
  width: 138px;
  height: 64px;
  padding-left: 70px;
  margin-right: 30px;
}

.navigation-list {

  width: 449px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 238px;

}

.navigation-item {
  padding-left: 32px;

}


.navigation-user {
  max-width: 268px;
  height: 64px;
  margin-left: auto;
  margin-right: 70px;
  display: flex;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

}

.navigation-button {
  width: 160px;
  height: 36px;
  display: block;

}

.navigation-button,
.hotel-card-button-more {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;

}

.welcome-page {
  width: 1200px;
  height: 485px;
  text-align: center;
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;

}




.welcome-text {
  text-align: center;
  width: 1200px;
  height: 261px;
}

.welcome-title,
.services-welcome,
.services-welcome,
.more-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.welcome-title {
  width: 620px;
  height: 72px;
  margin-left: 290px;
  margin-top: 69px;
}



.welcome-description,
.services-welcome-description,
.more-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;

}

.advantages-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 384px;
}

.advantages-item {
  width: 400px;
  height: 384px;
  background: #82B3D3;
}

.advantages-middle {}

.advantages-item-middle,
.services-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;

}

.advantages-list-middle {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 385px;
  align-items: center;
  justify-content: center;



}

.advantages-item-middle-another {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;


}

.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 175px;
  height: 56px;
  margin-left: 112.5px;
  margin-top: 101.5px;

}

.advantages-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 230px;
  height: 63px;
  margin-left: 85px;
  margin-top: 62px;
}


.advantages-title-middle {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;


}

.advantages-description-middle {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-list-bottom {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 385px;
}

.advantages-bottom-title {
  background: #82B3D3;
  width: 400px;
  height: 385px;
}

.services-welcome-title,
.services {
  text-align: center;
}

.services-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 385px;
}

.services-welcome-title {
  width: 1200px;
  height: 246px;
}

.services-item {
  width: 400px;
  height: 385px;

}

.services-item-another {
  width: 400px;
  height: 385px;

}

.services-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.more,
.subscribe {
  text-align: center;
}

.more {
  width: 1200px;
  height: 406px;
}

.subscribe {
  width: 1200px;
  height: 414.86px;
}

.more-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  height: 414.86px;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.page-footer {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.footer-social-item {
  display: inline;
}

.footer-contacts-phone {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

/* Каталог */

.main-inner-list {
  background-image: url("../images/catalog/background-catalog.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}


.breadcrumbs li {
  display: inline;
}


.catalog-filter-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-hotels-filter {
  display: flex;
  justify-content: space-between;
align-items: center;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.catalog-filter-group {
  width: 150.43px;
height: 157px;

}

.buttons-catalog-hotels {
  display: flex;
flex-direction: column;
align-items: center;
width: 191px;
height: 104px;
}

.control {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-apply,
.hotel-card-button-favourites,
.hotel-card-button-in-favourites {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}



.catalog-hotels-found {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control,
.hotel-card-type,
.hotel-card-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-list {
  width: 1060px;
 height: 896px;

}

.hotel-card-button-in-favourites {
  background-color: #7DB54F;
}

.rating-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2
}

.subscribe-title-catalog {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description-catalog {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.pagination-link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2
}

.pagination-link-more {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
